body {
	background-color: white !important;
	font-family: Helvetica;
}

a {
	text-decoration: none !important;
	color: white !important;
}

.panel-main-body {
	width: 800px;
}

.panel-main-body .form-group {
	padding: 15px 10px;
}

.panel-main-body .panel-heading {
	padding-top: 12px; padding-bottom: 12px;
}

.panel-main-body .panel-heading .panel-title {
	font-size: 18px;
}

.breadcrumb {
	margin-top: 15px;
	font-size: 16px;
	background-color: white !important;
	border-bottom: 3px solid #d8d8d8;
	border-radius: 0px !important;
}

.breadcrumb li a {
	color: #2a2a2a !important;
}

.button-form {
	margin-left: 20px; margin-right: 25px;
	margin-top: 45px;
	padding-top: 15px;
	border-top: 1px solid #d3d3d3;
}

.button-form button {
	float: left; margin-right: 5px;
}
